<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="Camalot.Common" version="1.0.5937.17275" targetFramework="net452" />
  <package id="GMap.NET.Presentation" version="1.7.1" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0-beta4" targetFramework="net452" />
  <package id="morelinq" version="1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net452" />
  <package id="POGOProtos" version="1.5.0" targetFramework="net452" />
</packages>